@import 'src/scss/vars';

.l_input {
    background-color: $blue-200;
    border-color: transparent;
    &::placeholder {
        color: $ww-1;
        font-weight: 500;
    }

    &.is-error {
        border-color: $error;
    }
}

.pass-eye {
    height: 100% !important;
    pointer-events: all !important;
    color: $ww-0 !important;

    &:hover {
        text-shadow: 0 0 0.1rem $ww-0;
    }
}

.login-serparator {
    background-color: $ww-1;

    position: relative;

    overflow: visible;

    height: 1px;

    &::after {
        content: 'Or Login With';
        background-color: $blue-100;
        color: $ww-1;
        padding: 0 10px;
        font-weight: 500;
        font-size: 0.75rem;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.alternative-login-btn {
    color: $ww-0;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
