<app-basic-modal [id]="id" [show]="show">
    <div class="box login-box login-resize-manager has-background-blue100 mb-0">
        <div class="is-flex is-justify-content-space-between">
            <h1 class="title is-4 has-text-white has-font-montserrat black">HITBIT</h1>
            <button class="delete is-medium" aria-label="close" type="button" (click)="closeModal()"></button>
        </div>
        <div class="columns">
            <div class="column">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="field">
                        <label class="label has-text-white has-font-poppins semibold is-size-6" for="l.email"
                            >Email</label
                        >
                        <div class="control">
                            <input
                                id="l.email"
                                class="input l_input has-text-white is-size-7 py-5"
                                type="email"
                                placeholder="your@email.com"
                                formControlName="email"
                                [ngClass]="{ 'is-error': submitted && lf['email'].errors }"
                            />
                        </div>
                        <div *ngIf="submitted && lf['email'].errors" class="help is-error">
                            <div *ngIf="lf['email'].errors['required']">Please enter your email</div>
                            <div *ngIf="lf['email'].errors['email']">Email is invalid</div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label has-text-white has-font-poppins semibold is-size-6" for="l.password"
                            >Password</label
                        >
                        <div class="control has-icons-right">
                            <input
                                id="l.password"
                                class="password input l_input has-text-white is-size-7 py-5"
                                [type]="showPass ? 'text' : 'password'"
                                placeholder="your password"
                                formControlName="password"
                                [ngClass]="{ 'is-error': submitted && lf['password'].errors }"
                            />
                            <button
                                class="pass-eye icon is-small is-right unstyled-button"
                                type="button"
                                (click)="toggleShowPass()"
                            >
                                <i [ngClass]="!showPass ? 'far fa-eye' : 'far fa-eye-slash'"></i>
                            </button>
                        </div>
                        <div *ngIf="submitted && lf['password'].errors" class="help is-error">
                            <div *ngIf="lf['password'].errors['required']">Please enter your password</div>
                        </div>
                    </div>

                    <div>
                        <a class="has-text-amarellow has-font-poppins semibold is-size-7" href="#">
                            <u>Forgot yout password?</u>
                        </a>
                    </div>

                    <hr class="login-serparator" />

                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <button
                                class="button is-blue0 alternative-login-btn is-size-7"
                                type="button"
                                (click)="loginWithWallet(injectedProvider)"
                            >
                                <span class="icon">
                                    <img src="/assets/logos/metamask.svg" alt="" />
                                </span>
                                <span> Metamask </span>
                            </button>
                        </div>
                        <div class="control">
                            <button
                                class="button is-blue0 alternative-login-btn is-size-7"
                                type="button"
                                (click)="loginWithWallet(linkedProvider)"
                            >
                                <span class="icon">
                                    <img src="/assets/logos/walletconnect.png" alt="" />
                                </span>
                                <span> WalletConnect </span>
                            </button>
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="field">
                        <button
                            class="button hitbit-btn has-font-poppins extrabold is-fullwidth"
                            type="submit"
                            [ngClass]="{ 'is-loading': loading }"
                        >
                            Login
                        </button>
                    </div>

                    <div class="is-size-7 has-text-ww0">
                        Don't have an account yet ?
                        <a class="has-text-amarellow" (click)="signUpClick()"><u>Sign Up</u></a>
                    </div>
                </form>
            </div>

            <div class="column is-flex is-flex-direction-column is-justify-content-end">
                <div class="is-flex-grow-1 is-flex is-flex-direction-column is-justify-content-center is-hidden-mobile">
                    <div>
                        <img src="/assets/modals/hitbit_banner.svg" alt="" />
                    </div>
                </div>
                <!-- <div class="has-text-white has-text-centered is-size-7">
                    By accessing the site, I attest that I am at least 18 years old and have read the Terms &
                    Conditions.
                </div> -->
            </div>
        </div>
    </div>
</app-basic-modal>
