<nav class="custom-navbar navbar is-fixed-top has-background-blue200" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/home">
            <h1 class="title is-4 has-text-white has-font-montserrat black">HITBIT</h1>
        </a>

        <div class="navbar-item is-hidden-touch">
            <span class="has-text-white mr-2" i18n> Bets Wagered </span>
            <span class="has-text-amarellow" i18n> 352,458 </span>
        </div>

        <a
            role="button"
            class="navbar-burger has-text-white"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
            (click)="toggleMenuMobile()"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" [ngClass]="menuOpen ? 'is-active' : ''">
        <div class="navbar-start is-hiadden">
            <div class="navbar-item">
                <form>
                    <div class="field has-addons">
                        <div class="control">
                            <div class="dropdown2 is-hoverable">
                                <div class="dropdown2-trigger">
                                    <button
                                        class="button is-blue0"
                                        aria-haspopup="true"
                                        aria-controls="dropdown2-menu"
                                        [style]="{ height: '3rem' }"
                                    >
                                        <div class="is-flex is-align-items-center" [style]="{ columnGap: '5px' }">
                                            <img src="https://picsum.photos/32" alt="" width="24" />
                                            <div>$11.01</div>

                                            <span class="icon is-small">
                                                <img src="/assets/icons/navbar/arrow-down.svg" alt="" />
                                            </span>
                                        </div>
                                    </button>
                                </div>
                                <div class="dropdown2-menu" role="menu">
                                    <div class="dropdown2-content">
                                        <a href="#" class="dropdown2-item">
                                            <div
                                                class="is-flex is-flex is-align-items-center"
                                                [style]="{ columnGap: '5px' }"
                                            >
                                                <img src="https://picsum.photos/32" alt="" />
                                                <div>$0</div>
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown2-item">
                                            <div
                                                class="is-flex is-flex is-align-items-center"
                                                [style]="{ columnGap: '5px' }"
                                            >
                                                <img src="https://picsum.photos/32" alt="" />
                                                <div>$0</div>
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown2-item">
                                            <div
                                                class="is-flex is-flex is-align-items-center"
                                                [style]="{ columnGap: '5px' }"
                                            >
                                                <img src="https://picsum.photos/32" alt="" />
                                                <div>$0</div>
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown2-item">
                                            <div
                                                class="is-flex is-flex is-align-items-center"
                                                [style]="{ columnGap: '5px' }"
                                            >
                                                <img src="https://picsum.photos/32" alt="" />
                                                <div>$0</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control">
                            <button class="button deposit-btn has-font-poppins extrabold" [style]="{ height: '3rem' }">
                                DEPOSIT
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="navbar-end is-hidden-desktop">
            <div class="navbar-item has-dropdown is-hoverable" *ngIf="userAuthenticated; else loginButtons">
                <a class="navbar-link" style="column-gap: 0.5rem">
                    <img src="https://picsum.photos/48" alt="" style="border-radius: 50%" />
                    <span>User</span>
                </a>

                <div class="navbar-dropdown is-right">
                    <button class="navbar-item unstyled-button" (click)="onLogoutClick()">Logout</button>
                </div>
            </div>
            <ng-template #loginButtons>
                <div class="navbar-item">
                    <div class="buttons">
                        <button
                            class="button hitbit-btn has-font-poppins extrabold"
                            (click)="onLoginClick()"
                            [style]="{ height: '3rem' }"
                            i18n
                        >
                            LOGIN
                        </button>
                        <button
                            class="has-text-white has-font-montserrat black is-size-6"
                            (click)="onSignupClick()"
                            [style]="{ height: '3rem' }"
                            i18n
                        >
                            SIGN UP
                        </button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="navbar-end-desktop is-hidden-touch">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <div class="is-flex is-align-items-center" style="column-gap: 8px">
                    <span> <img src="https://picsum.photos/32/20" alt="" style="display: block" /> </span>
                    <span i18n>Language</span>
                </div>
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item">
                    <div class="is-flex is-align-items-center" style="column-gap: 8px">
                        <span> <img src="https://picsum.photos/32/20" alt="" style="display: block" /> </span>
                        <span i18n>English</span>
                    </div>
                </a>
                <a class="navbar-item">
                    <div class="is-flex is-align-items-center" style="column-gap: 8px">
                        <span> <img src="https://picsum.photos/32/20" alt="" style="display: block" /> </span>
                        <span i18n>Spanish</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable" *ngIf="userAuthenticated; else loginButtonsDesktop">
            <a class="navbar-link" style="column-gap: 0.5rem">
                <img src="https://picsum.photos/48" alt="" style="border-radius: 50%" />
                <span>User</span>
            </a>

            <div class="navbar-dropdown is-right">
                <button class="navbar-item unstyled-button" (click)="onLogoutClick()">Logout</button>
            </div>
        </div>

        <ng-template #loginButtonsDesktop>
            <div class="navbar-item">
                <div class="buttons">
                    <button
                        class="button hitbit-btn has-font-poppins extrabold"
                        (click)="onLoginClick()"
                        [style]="{ height: '3rem' }"
                        i18n
                    >
                        LOGIN
                    </button>
                    <a class="has-text-white has-font-montserrat black is-size-6" (click)="onSignupClick()" i18n>
                        SIGN UP
                    </a>
                </div>
            </div>
        </ng-template>
    </div>
</nav>
