@import 'src/scss/vars';

@import 'src/scss/bulma-custom-vars';

.custom-navbar {
    border-bottom: 2px solid #181723;
}

// for desktop
@media screen and (min-width: 1024px) {
    .custom-navbar {
        z-index: $z-foreground-2;

        display: flex;
        flex-direction: row;

        > div {
            width: 33.33%;
        }

        .navbar-menu {
            justify-content: center;

            .navbar-start {
                margin-right: 0px;
                column-gap: 2.5rem;
            }
        }

        .navbar-end-desktop {
            display: flex;
            justify-content: flex-end;
            align-items: stretch;
            margin-left: auto;
        }
    }
}

// for tablet and mobile
@media screen and (max-width: 1023px) {
    .custom-navbar {
        z-index: $z-foreground-0;

        .navbar-menu {
            display: block;
            position: fixed;
            background-color: $blue-200;

            width: 100%;
            height: 100vh;

            transform: translateX(100%);

            transition: transform $fast-bezier;

            &.is-active {
                transform: translateX(0);
            }
        }
    }
}

// ::: DEPOSIT BTN ::: //
.deposit-btn {
    background-color: $ygra;
    border: 3px solid $bb-0 !important;
    border-radius: 5px;
    border-color: $bb-0;

    &:hover {
        background-color: lighten($ygra, 5%);
    }
}
