<div class="block" [style]="{ overflow: 'hidden' }">
    <!-- title and buttons -->
    <div class="is-flex is-justify-content-space-between is-align-items-center">
        <h1 class="title is-5 has-text-white mb-0">
            HitBits original &nbsp; <span class="tag is-error">SPECIAL</span>
        </h1>

        <div class="buttons">
            <button class="button is-blue200 is-small">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
            </button>

            <button class="button is-blue200 is-small">
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </button>
        </div>
    </div>

    <br />

    <!-- cards -->
    <ul class="cards_container">
        <li *ngFor="let game of games">
            <a class="box game_box">
                <h1 class="subtitle is-4 has-text-white has-font-montserrat black has-text-centered mb-0">
                    {{ game.name | uppercase }}
                </h1>

                <div class="p-5" style="display: grid; place-items: center">
                    <img [src]="game.icon" alt="game image" style="width: 110px; height: 110px" />
                </div>

                <h2 class="has-text-centered has-text-warning is-size-5">Play Now</h2>
            </a>
        </li>
    </ul>
</div>
