@import 'src/scss/vars';

@keyframes modalFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes modalFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.modal {
    animation: modalFadeOut $fast-bezier;

    z-index: $z-modal-0;

    &.is-active {
        animation: modalFadeIn $fast-bezier;
    }
}
