a{
    color: white;
    font-weight: 200;
    position: relative;
}

a:after {

    content: "";
    position: absolute;
    background-color: #ffef5d;
    height: 2px;
    width: 0;
    left: 1;
    right: 0;
    bottom: -25px;
    transition: 0.3s;
  }

  a:hover:after{
    width: 112%;
 }

 a:hover{
    color: #ffef5d;
 }

hr{
    height: 1px;
    background-color: gray;
    margin-bottom: 1rem;
}

td{
    padding-left: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
}

$br: 5px;
.row {
    td:first-child {
        border-radius: #{$br} 0 0 #{$br};
    }

    td:last-child {
        border-radius: 0 #{$br} #{$br}  0;
    }
}

table {
    border-spacing: 0em 1em;
    border-collapse: separate;
    width: 100%;
}

.txt{
    font-size: 14px;
}

.text{
    font-size: 20px;
}

.mob-text{
    font-size: 12px;
}

.des-text{
    font-size: 16px;
}

img{
    max-width: none;
}