<div class="container mb-6 pb-6">
    <div class="title is-size-5 has-text-white">
        LeaderBoard
    </div>
    <div class="subtitle is-flex is-size-6 pt-3">
        <a class="mr-5  ml-3">Highest Wins</a>
        <a>Luckiest Wins</a>
    </div>
    <hr>
    <table class="">
        <tbody>
            <tr *ngFor="let item of items" class="has-background-blue-100">
                <td class="is-hidden-tablet"><img [src]="item.img" width="52px"/></td>
                <td class="is-hidden-mobile"><img [src]="item.img" width="52px"/></td>
                <td class="has-text-amarellow-3">
                    <span>
                     <p class="pr-6 mt-2 is-hidden-mobile text">{{item.player}}</p>
                     <p class="is-hidden-tablet txt mt-2">{{item.player}}</p>
                     <p class="has-text-ww-1 is-hidden-mobile des-text">{{item._player}}</p>
                     <p class="has-text-ww-1 is-hidden-tablet mob-text">{{item._player}}</p>
                    </span>
                </td>
                <td class="has-text-white is-hidden-mobile pr-6">
                    <span>
                     <p class="mt-2 text">{{item.date}}</p>
                     <p class="has-text-ww-1 des-text">{{item._date}}</p>
                    </span>
                </td>
                <td class="has-text-white pr-6">
                    <span>
                     <p class="mt-2 is-hidden-mobile text">{{item.wager}}</p>
                     <p class="is-hidden-tablet mt-2 ml-5 txt">{{item.wager}}</p>
                     <p class="has-text-ww-1 is-hidden-mobile des-text">{{item._wager}}</p>
                     <p class="has-text-ww-1 ml-5 is-hidden-tablet mob-text">{{item._wager}}</p>
                    </span>
                </td>
                <td class="has-text-amarellow pr-6 is-hidden-mobile">
                    <span>
                     <p class="mt-2 text">{{item.multiplier}}</p>
                     <p class="has-text-ww-1 des-text">{{item._multiplier}}</p>
                    </span>
                </td>
                <td class="has-text-success pl-5 pr-4 ">
                    <span >
                      <p class="mt-2 is-hidden-mobile text">{{item.payout}}</p>
                      <p class="is-hidden-tablet txt mt-2">{{item.payout}}</p>
                      <p class="has-text-ww-1 is-hidden-tablet mob-text">{{item._payout}}</p>
                      <p class="has-text-ww-1 is-hidden-mobile des-text">{{item._payout}}</p>
                    </span>
                    </td>
            </tr>
        </tbody>
    </table>

</div>
