$blue-300: #034e8a;
$blue-400: #0462ad;
$blue-500: #0575d0;
$amarellow-2: #e2d34e;

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-weight: 100;
  }

.ox{
    width: 489px;
    height: 680px;
}

.butto{
    width: 100%;
    border: solid black 3px;
    border-radius: 5px;
    color: black;
    padding: 15px 0px;
    background-color: $amarellow-2;
    font-weight: 900;
    font-size: 24px;
    box-shadow: 0 10px black;
    transition: none !important;
  }

  .input{
    border: none;
    font-size: 15px;
    padding: 32px 6px 32px 26px;
    color: white;
    font-weight: 100;
    padding-right:30px;
 }

 .i1{
    margin-right: 12rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 1rem ;
    font-size: 15px;
    border: none;
    background-color: none;
    color: white;
 }

 .i2{
    margin-right: 6rem;
    padding-top: 1rem;
    padding-right: 2rem;
    font-size: 15px;
    border: none;
    color: white;
 }

 .i3{ 
    margin-right: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    border: none;
    color: white;
 }

 .tag{
    padding: 5px 20px;
    background-color: #CC3B3B;
 }

 .text{
    font-weight: 900;
 }

 .nox{
    width: 50.36px;
    height: 50px;
    justify-content: center;
 }
 
 .wox{
    width: 60px;
    height: 60px;
 }

 img{
    max-width: none;
 }