@import 'src/scss/bulma-custom-vars';

.home_root {
    width: 100%;
}

.game_box {
    min-width: 200px;

    background-color: $blue-200;

    transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);

    &:hover {
        background-color: $blue-500;
        transform: translateY(-10px);
    }
}

.casino_dot {
    width: 10px;
    height: 10px;
    background-color: $error;
    border-radius: 50%;
    display: inline-block;
}
