<app-main-layout>
    <section class="home_root">
        <div class="container">
            <div class="block">
                <app-carousel></app-carousel>
            </div>

            <!-- Classic games -->
            <homepage-casino-original-games></homepage-casino-original-games>
            <br />

            <!-- Live casino -->
            <homepage-live-casino-games></homepage-live-casino-games>
            <br />

            <!-- Bonus Battles  -->
            <homepage-bonus-battles></homepage-bonus-battles>
            <br />

            <!-- Events -->
            <homepage-casino-events></homepage-casino-events>
            <homepage-latest-bets></homepage-latest-bets>
        </div>
    </section>
</app-main-layout>
