@use 'src/scss/bulma-custom-vars' as *;

.home_root {
    width: 100%;
}

// for desktop
@media screen and (min-width: 768px) {
    .container {
        padding: 2.5rem 3.5rem;
    }
}

// for mobile
@media screen and (max-width: 768px) {
    .container {
        padding: 1.5rem 1.5rem;
    }
}
