<div class="block" [style]="{ overflow: 'hidden' }">
    <div class="is-flex is-justify-content-space-between is-align-items-center">
        <h1 class="title is-5 has-text-white mb-0">Bonus Battles</h1>

        <div class="buttons">
            <button class="button is-blue200 is-small">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
            </button>

            <button class="button is-blue200 is-small">
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </button>
        </div>
    </div>

    <br />

    <ul class="cards_container">
        <li *ngFor="let game of games">
            <div class="box bb_box p-0">
                <div class="p-3">
                    <figure class="image is-square">
                        <img [src]="game.img" alt="game image" />
                    </figure>
                </div>
                <div class="px-3 pb-3">
                    <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
                        <h1 class="subtitle is-6 has-text-ww0 mb-0">Players</h1>
                        <h1 class="subtitle is-6 has-text-white">{{ game.players }}/{{ game.maxPlayers }}</h1>
                    </div>
                    <div class="is-flex is-justify-content-space-between is-align-items-center">
                        <h1 class="subtitle is-6 has-text-ww0 mb-0">Rewards</h1>
                        <h1 class="subtitle is-6 has-text-success">{{ game.rewards }}$</h1>
                    </div>
                </div>

                <div class="px-3 pb-3">
                    <button
                        class="button is-ygra has-font-poppins extrabold has-text-black is-fullwidth has-border-3-bb-0-o-100 py-5"
                    >
                        JOIN BATTLE
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>
