@import 'src/scss/bulma-custom-vars';
@import 'src/scss/vars';

.app-sidebar {
    position: fixed;

    transition: 0.25s cubic-bezier(0.83, 0, 0.17, 1);

    user-select: none;

    overflow-x: hidden;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

    z-index: $z-foreground-1;

    .sidebar-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // padding: 10px 0;

        .sidebar-link {
            display: flex;
            column-gap: 1rem;
            padding: 0 10px;
        }
    }
}

// for desktop
@media screen and (min-width: 1024px) {
    .app-sidebar {
        width: 200px;
        height: calc(100vh - $navbar-height);

        z-index: $z-foreground-1;

        &.collapsed {
            width: 50px;

            overflow: hidden;

            .sidebar-container {
                .sidebar-link div {
                    display: none;
                }
            }
        }

        .sidebar-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .sidebar-link {
                display: flex;
                column-gap: 1rem;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;

                // margin-bottom: 1.5rem;

                &:hover,
                .active {
                    background-color: $blue-600;
                }
            }
        }
    }
}

// for mobile and tablet
@media screen and (max-width: 1023px) {
    .app-sidebar {
        width: 200px;
        height: calc(100vh);

        top: 0;

        z-index: $z-foreground-2;

        padding: 1rem 0 0 0;

        &.collapsed {
            transform: translateX(-100%);
        }

        .sidebar-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .sidebar-link {
                display: flex;
                column-gap: 1rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}
