<aside class="app-sidebar has-background-blue200 coolscroll-small" [ngClass]="collapsed ? 'collapsed' : ''">
    <div class="sidebar-container">
        <ul>
            <li>
                <a class="sidebar-link" (click)="toggleSidebar()" id="collapse-sidebar-button">
                    <span class="icon">
                        <img [src]="collapsed ? arrowRightIcon : arrowLeftIcon" alt="" />
                    </span>

                    <div class="has-text-white medium">Collapse</div>
                </a>
            </li>

            <li *ngFor="let link of topLinks">
                <a class="sidebar-link" [routerLink]="link.url">
                    <span class="icon">
                        <img [src]="link.icon" alt="" />
                    </span>

                    <div class="has-text-white medium">
                        {{ link.label }}
                    </div>
                </a>
            </li>
        </ul>

        <ul>
            <li *ngFor="let link of bottomLinks">
                <a class="sidebar-link" [routerLink]="link.url">
                    <span class="icon">
                        <img [src]="link.icon" alt="" />
                    </span>
                    <div class="has-text-white medium">
                        {{ link.label }}
                    </div>
                </a>
            </li>
        </ul>
    </div>
</aside>

<div class="sidebar-bg" [ngClass]="{ active: !collapsed }" (click)="toggleSidebar()"></div>
