<layout-main>
    <div>
        <div class="columns mb-6">
            <div class="column is-two-fifths">
                <div class="box has-background-blue200">
                    <p class="has-text-white mb-4 is-size-5">Place Bets</p>
                    <p class="control has-icons-right is-size-5">
                        <input class="input is-medium has-background-blue300" type="text" placeholder="Enter amount" />
                        <span class="icon is-right">
                            <a class="i1">1/2</a>
                        </span>
                        <span class="icon is-small is-right">
                            <a class="i2">x2</a>
                        </span>
                        <span class="icon is-small is-right">
                            <a class="i3">Max</a>
                        </span>
                    </p>
                    <div class="columns is-mobile is-variable is-2 mt-3">
                        <div class="column" *ngFor="let image of images">
                            <div class="box has-background-blue300 has-text-centered py-2">
                                <img width="87px" [src]="image.img" />
                                <p class="has-text-white mar">{{ image.text }}</p>
                            </div>
                        </div>
                    </div>
                    <p class="mt-6 is-size-7 has-text-white light">Note : Placed bets cannot be removed !</p>
                    <div class="button mt-2 mb-5 is-large is-amarellow2">PLACE BET</div>
                </div>
            </div>
            <div class="column">
                <div class="box has-background-blue200 is-hidden-touch">
                    <progress class="progress is-amarellow2" value="75" max="100"></progress>
                    <p class="mb-3">
                        <span class="has-text-white light is-size-6">Rolling in </span>
                        <span class="has-text-white pl-1 is-size-5">10</span>
                    </p>
                </div>
                <p class="has-text-white mb-4 medium is-size-5">Current Bets</p>
                <div class="box ox has-background-blue200">
                    <div class="is-flex is-justify-content-space-between">
                        <p class="is-flex">
                            <img width="30px" src="assets/icons/casino-chip 1.png" />
                            <span class="has-text-white pl-3">JackUser</span>
                        </p>
                        <p class="has-text-success">150.00$</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="box animation has-background-blue200">
            <div class="">shshs</div>
        </div>
    </div>
</layout-main>
