<footer class="footer has-background-blue-100 pb-5">
    <div class="block">
        <h1
            class="title is-4 has-text-amarellow has-font-montserrat black"
            [style]="{ textShadow: '0px 4px 14px rgba(226, 211, 78, 0.25)' }"
        >
            HITBIT
        </h1>
        <p class="has-text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
        <br />
        <p [ngStyle]="{ color: '#BAD1E4' }">© Copyright HitBit. All rights reserved.</p>
    </div>
    <br />
    <div class="block">
        <div class="columns is-mobilae">
            <div class="column is-6-mobile">
                <h1 class="subtitle has-text-white semibold mb-2">Platform</h1>
                <ul>
                    <li><a class="has-text-ww1 is-size-6" href="#">Support</a></li>
                    <li><a class="has-text-ww1 is-size-6" href="#">FAQ</a></li>
                    <li><a class="has-text-ww1 is-size-6" href="#">Blog</a></li>
                </ul>
            </div>
            <div class="column is-6-mobile">
                <h1 class="subtitle has-text-white semibold mb-2">Navigation</h1>
                <ul>
                    <li><a class="has-text-ww1 is-size-6" href="#">Home</a></li>
                    <li><a class="has-text-ww1 is-size-6" href="#">Games</a></li>
                    <li><a class="has-text-ww1 is-size-6" href="#">Profile</a></li>
                </ul>
            </div>
            <div class="column is-6-mobile">
                <h1 class="subtitle has-text-white semibold mb-2">Social</h1>
                <ul>
                    <li><a class="has-text-ww1 is-size-6" href="#">Twitter</a></li>
                    <li><a class="has-text-ww1 is-size-6" href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="column is-6-mobile">
                <h1 class="subtitle has-text-white semibold mb-2">Contact</h1>
                <ul>
                    <li><a class="has-text-ww1 is-size-6" href="#">Contact us</a></li>
                    <li><a class="has-text-ww1 is-size-6" href="#">Terms of use</a></li>
                    <li><a class="has-text-ww1 is-size-6" href="#">Privacy policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="block">
        <div class="is-flex" [style]="{ columnGap: '4rem' }">
            <div>
                <img src="/assets/logos/curacao.png" alt="" />
            </div>
            <div>
                <img src="/assets/logos/+18.png" alt="" />
            </div>
        </div>
    </div>
</footer>
