<footer class="footer has-background-blue200">
    <div class="block">
        <h1 class="title is-4 has-text-amarellow has-font-montserrat black">HITBIT</h1>
        <p class="has-text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
        </p>
        <br />
        <p [ngStyle]="{ color: '#BAD1E4' }">© Copyright HitBit. All rights reserved.</p>
    </div>
    <br />
    <div class="block">
        <div class="columns">
            <div class="column">
                <h1 class="subtitle has-text-white semibold mb-2">Platform</h1>
                <ul>
                    <li><a class="has-text-white" href="#">Support</a></li>
                    <li><a class="has-text-white" href="#">FAQ</a></li>
                    <li><a class="has-text-white" href="#">Blog</a></li>
                </ul>
            </div>
            <div class="column">
                <h1 class="subtitle has-text-white semibold mb-2">Navigation</h1>
                <ul>
                    <li><a class="has-text-white" href="#">Home</a></li>
                    <li><a class="has-text-white" href="#">Games</a></li>
                    <li><a class="has-text-white" href="#">Profile</a></li>
                </ul>
            </div>
            <div class="column">
                <h1 class="subtitle has-text-white semibold mb-2">Social</h1>
                <ul>
                    <li><a class="has-text-white" href="#">Twitter</a></li>
                    <li><a class="has-text-white" href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
