@import './vars.scss';
@import 'node_modules/bulma/sass/utilities/initial-variables.sass';
@import 'node_modules/bulma/sass/utilities/derived-variables.sass';
@import 'node_modules/bulma/sass/utilities/functions.sass';

/* *~~*~~*~~*~~*~~* COLORS *~~*~~*~~*~~*~~* */

$custom-colors: (
    'blue0': (
        $blue-0,
        findColorInvert($blue-0),
    ),
    'blue100': (
        $blue-100,
        findColorInvert($blue-100),
    ),
    'blue200': (
        $blue-200,
        findColorInvert($blue-200),
    ),
    'blue300': (
        $blue-300,
        findColorInvert($blue-300),
    ),
    'blue400': (
        $blue-400,
        findColorInvert($blue-400),
    ),
    'blue500': (
        $blue-500,
        findColorInvert($blue-500),
    ),
    'blue600': (
        $blue-600,
        findColorInvert($blue-600),
    ),
    'ww0': (
        $ww-0,
        findColorInvert($ww-0),
    ),
    'error': (
        $error,
        findColorInvert($error),
    ),
);

$colors: mergeColorMaps($colors, $custom-colors);

// *~~*~~*~~*~~*~~* NAVBAR *~~*~~*~~*~~*~~* */

// $navbar-item-img-max-height: 3.5rem;
$navbar-height: 5rem;

$navbar-item-color: rgba(white, 0.75);
$navbar-item-hover-color: rgba(white, 1);

$navbar-item-hover-background-color: rgba(white, 0.1);

$navbar-dropdown-background-color: $blue-200;

$navbar-dropdown-arrow: white;

$navbar-dropdown-item-hover-color: white;
$navbar-dropdown-item-hover-background-color: $blue-0;

/* *~~*~~*~~*~~*~~* INPUT *~~*~~*~~*~~*~~* */

// $input-focus-border-color: $hpurple;
// $input-focus-box-shadow-color: rgba($hpurple, 0.25);

/* *~~*~~*~~*~~*~~* BUTTONS *~~*~~*~~*~~*~~* */

// $button-focus-color: $hpurple;
// $button-focus-border-color: $hpurple;
// $button-focus-box-shadow-color: rgba($hpurple, 0.25);

/* *~~*~~*~~*~~*~~* FONT *~~*~~*~~*~~*~~* */

$family-primary: 'Poppins', sans-serif;
