@import './vars.scss';

.unstyled-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.hitbit-btn {
    background: $ygra !important;
    border: 3px solid $bb-0 !important;
    border-radius: 5px;

    border-radius: 5px;

    box-shadow: 0px 5px 0px $bb-0 !important;

    color: $bb-0 !important;

    &.is-loading::after {
        border-left-color: $bb-0 !important;
        border-bottom-color: $bb-0 !important;
    }
}

// for desktop
@media screen and (min-width: 1024px) {
    .hitbit-btn {
        &:hover {
            transform: translateY(3px);
            box-shadow: 0px 2px 0px $bb-0 !important;
        }
    }
}
