@use 'sass:map';

$blue: #00b2ff;
$pink: #ff00aa;

$blue-0: #013156;
$blue-100: #012745;
$blue-200: #023a68;
$blue-300: #034e8a;
$blue-400: #0462ad;
$blue-500: #0575d0;
$blue-600: #0575d0;

$amarellow: #f2e35a;

$ww-0: #dedede;

$bb-0: #211f30;

$hgra1: linear-gradient(-45deg, $pink 0%, rgba(#fff, 0) 33%, rgba(#fff, 0) 66%, $blue 100%);
$ygra: linear-gradient(180deg, #fff492 0%, #faea5f 38.03%, #e2d34e 66.67%, #c5b946 100%);

$hcolors: (
    blue: $blue,
    pink: $pink,

    blue-0: $blue-0,
    blue-100: $blue-100,
    blue-200: $blue-200,
    blue-300: $blue-300,
    blue-400: $blue-400,
    blue-500: $blue-500,
    blue-600: $blue-600,

    ww-0: $ww-0,

    bb-0: $bb-0,

    amarellow: $amarellow,
);

$hgras: (
    hgra1: $hgra1,
    ygra: $ygra,
);

/* *~~*~~*~~*~~*~~* Z-INDEX *~~*~~*~~*~~*~~* */

$z-background-1: 1;
$z-background-2: 2;
$z-background-0: 0;

$z-foreground-0: 5;
$z-foreground-1: 6;
$z-foreground-2: 7;

$z-modal-glass-panel: 9;
$z-modal-0: 10;
$z-modal-1: 11;
$z-modal-2: 12;

/* *~~*~~*~~*~~*~~* lAYOUT *~~*~~*~~*~~*~~* */

$sidebar-open-width-desktop: 200px;
$sidebar-closed-width-desktop: 50px;

$chat-open-width-desktop: 350px;
$chat-closed-width-desktop: 0px;

/* *~~*~~*~~*~~*~~* TRANSITION *~~*~~*~~*~~*~~* */
$fast-bezier: 0.25s cubic-bezier(0.83, 0, 0.17, 1);
