<div class="app-button-bar has-background-blue200">
    <div class="app-buttom-bar-container">
        <button class="unstyled-button p-1" type="button" (click)="toggleSidebar()">
            <span class="icon">
                <img src="/assets/icons/bottom-bar/burger.svg" alt="" />
            </span>
        </button>

        <button class="unstyled-button p-1" type="button" (click)="toggleChat()">
            <span class="icon">
                <img src="/assets/icons/bottom-bar/chat.svg" alt="" />
            </span>
        </button>
    </div>
</div>
