<div class="block" [style]="{ overflow: 'hidden' }">
    <div class="is-flex is-justify-content-space-between is-align-items-center">
        <h1 class="title is-5 has-text-white mb-0">Events</h1>

        <div class="buttons">
            <button class="button is-blue200 is-small">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
            </button>

            <button class="button is-blue200 is-small">
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </button>
        </div>
    </div>

    <br />

    <ul class="track">
        <li *ngFor="let item of events" class="box-container">
            <div class="box event-box" [style]="{ backgorundImg: 'url(' + item.img + ')' }">
                <div class="box_content px-3 pb-3">
                    <div>
                        <h4 class="subtitle has-text-ygra is-size-6-fullhd is-size-7-widescreen">
                            {{ item.date }}
                        </h4>
                        <h1 class="title has-text-white is-size-3-fullhd is-size-4-widescreen mb-0 black">
                            {{ item.title | uppercase }}
                        </h1>
                        <p class="has-text-white is-size-6 semibold">{{ item.description }}</p>
                    </div>

                    <br />

                    <div class="is-flex-grow-1 columns is-align-items-end" style="column-gap: 1rem">
                        <div class="column is-narrow">
                            <button
                                class="button is-fullwidth is-ygra has-text-black black has-border-3-bb-0-o-100 py-5 is-size-6"
                                style="padding-left: 3rem; padding-right: 3rem"
                            >
                                JOIN EVENT
                            </button>
                        </div>

                        <div class="column is-narrow">
                            <div
                                class="box py-1 has-background-blue-100 is-flex is-align-items-center"
                                style="column-gap: 0.5rem; height: 54px"
                            >
                                <span class="icon has-text-white is-size-4">
                                    <i class="far fa-clock"></i>
                                </span>
                                <span class="has-text-ww1">Starts in</span>
                                <span class="has-text-white">00:00:00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- <app-drag-scroll></app-drag-scroll> -->
